<div class="button_holder">
  <%= button_to 'Get Data','/data', :id => 'data', :remote => true, :class => "buttonTo" %><br>
  <%= button_tag 'Graph Data', :id => 'graph_button' %> 
</div>

<div id="graph"></div>
<div id="map_canvas"></div>